main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(57,9,64,1) 100%);
}
.progress {
    height: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.progress-bar {
    height: 100%;
    transition: all ease .5s;
    background-color: #9932CC;
}
.questionArea {
    flex-flow: column wrap;
}
.welcomeArea {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55%;
    min-height: 600px;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(231, 229, 229, 0.432);
    gap: 10px;
}
.welcomeContent{
    height: 60%;
    min-height: 300px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 2%;
}
.startGame {
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
.startGame:hover{
    cursor: pointer;
    background-color: rgba(112, 112, 112, 0.459);
}

.questionArea {
    height: 60%;
    min-height: 300px;
    width: 80%;
    gap: 20px   ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 229, 229, 0.432);
    border-radius: 10px;
}
.question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 90%;
    font-size: 3rem;
}
.options {
    height: 50%;
    width: 80%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.option {
    width: 97%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 10px;
}
.option:hover {
    cursor: pointer;
    background-color: rgba(112, 112, 112, 0.459);
}
.options span {
    margin: 20px;
    font-weight: bold;
}

.finishQuestions {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    min-height: 300px;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(231, 229, 229, 0.432);
}
.finishContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 50%;
}

.finishContent button {
    border-radius: 10px;
    height: 40px;
    width: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.397);
}

.finishContent button:hover {
    cursor: pointer;
    background-color: rgba(112, 112, 112, 0.459);
}

.finishContent img {
    height: 50%;
    max-height: 100px;
}

/* breakpoints */
@media only screen and (max-width: 1110px) {
    .welcomeContent{
        /* width: 300px; */
        /* min-height: 250px; */
        height: auto;
        width: 95%;
    }
    .welcomeArea{
        height: auto;
        padding: 10px;
        width: 90%;
    }
    .options{
        height: auto;
        min-width: 100px;
        gap: 5px;
    }
    .questionArea{
        height: auto;
        min-width: 200px;
        gap: 20px   ;
    }
    .question{
        font-size: 1.4rem;
    }
    main {
        height: auto;
        padding: 10px;
    }
    body {
        height: 100vh;
    }
}

@media only screen and (max-width: 1540px) {
    .welcomeContent{
        height: auto;
    }
}

@media only screen and (max-width: 415px) {
    .options{
        height: auto;
        min-width: auto;
    }
    .question{
        font-size: 1rem;
    }
    .finishContent button{
        min-width: 75;
    }
    .finishContent{
        min-width: 200px;
    }
    .finishQuestions{
        min-width: 250px;
    }
    .finishContent img {
        max-height: 100px;
    }
}